<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated simplepdl -->
      <package
            uri="http://www.example.org/simplepdl"
            class="simplepdl.SimplepdlPackage"
            genModel="model/simplepdl.genmodel"/>
   </extension>

</plugin>
